alias ls='ls --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias ll='ls -l --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias la='ls -la --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias grep='grep --color=tty -d skip'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB

alias b='bundle'
alias be='bundle exec'
alias c='bundle exec rails c'
alias db='bundle exec rails dbconsole'
alias g='bundle exec rails g'
alias s='bundle exec rails s'
alias r='bundle exec rake'
alias rspec='bundle exec rspec -c'

